.landing {
  $header-font-base-modile: 18px;
  $header-font-base: 18px;
  // Type hierarchy scaler
  $type-scaler: 1.3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Unna', serif;
    line-height: 1.4;
    margin: 0px;
    font-weight: 700;
  }

  h1 {
    font-size: $header-font-base-modile * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }

  h2 {
    font-size: $header-font-base-modile * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler * $type-scaler;
  }

  h3 {
    font-size: $header-font-base-modile * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler;
  }

  h4 {
    font-size: $header-font-base-modile * $type-scaler * $type-scaler *
      $type-scaler;
  }

  h5 {
    font-size: $header-font-base-modile * $type-scaler * $type-scaler;
  }

  h6 {
    font-size: $header-font-base-modile;
  }

  .milli {
    font-size: $header-font-base-modile/$type-scaler;
  }

  .micro {
    font-size: 0.5rem;
  }

  // hero
  .hero--img {
    width: 100%;
    height: auto;
    svg {
      margin-bottom: -1rem;
    }
  }
  .hero-copy {
    position: static;
  }
  .hero {
    position: relative;
  }
  .display-char--img {
    display: block;
    object-fit: cover;
    min-height: 700px;
    width: 100%;
  }
  & > section {
    padding: 4rem;
    &:nth-of-type(1) {
      background-color: $color-b;
      color: $color-a;
    }
    &:nth-of-type(3) {
      background-color: darken($color-a, 5%);
    }
    .display-ill {
      background-color: $color-b;
    }
  }

  .card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & > div {
      margin-top: 1rem;

      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }

  @media screen and (min-width: 700px) {
    // hero
    .hero--img {
      width: 100%;
      height: auto;
      margin-bottom: -1rem;
    }
    .hero-copy {
      position: absolute;
      top: 0px;
    }
    .hero {
      position: relative;
    }
    .card-group {
      & > div {
        margin-left: 1rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
      }
    }
  }
}

html,
body,
#root {
  .app-wrap {
    &.dark {
      .landing {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: #fdfbf6;
          font-family: 'Unna', serif;
          line-height: 1.4;
          margin: 0px;
          font-weight: 700;
        }

        // hero
        .hero--img {
          svg {
            path.mt-1--fill,
            path.mt-2--fill {
              fill: darken($color-c, 5%);
            }
            .mt-1--fill__shadow,
            .mt-2--fill__shadow {
              fill: lighten($color-c, 0%);
            }
          }
        }

        & > section {
          &:nth-of-type(0) {
            background-color: #fdfbf6;
            color: $color-c;
          }
          &:nth-of-type(2) {
            background-color: lighten($color-c, 0%);
          }
          &:nth-of-type(3) {
            background-color: darken($color-c, 5%);
          }
        }
      }
    }
    &.light {
      .landing {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $color-c;
          font-family: 'Unna', serif;
          line-height: 1.4;
          margin: 0px;
          font-weight: 700;
        }

        // hero
        .hero--img {
          svg {
            path.mt-1--fill,
            path.mt-2--fill {
              fill: lighten($color-e, 15%);
            }
            .mt-1--fill__shadow,
            .mt-2--fill__shadow {
              fill: darken($color-e, 5%);
            }
          }
        }

        & > section {
          &:nth-of-type(0) {
            background-color: #fdfbf6;
            color: $color-c;
          }
          &:nth-of-type(2) {
            background-color: #fbfbfb;
          }
          &:nth-of-type(3) {
            background-color: #fbfbfb;
          }
        }
      }
    }
  }
}
