.margin {
  &--all {
    margin: 1rem;
  }
  &--vert {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &--hor {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &--top {
    margin-top: 1rem;
  }
  &--bottom {
    margin-bottom: 1rem;
  }
  &--left {
    margin-left: 1rem;
  }
  &--right {
    margin-right: 1rem;
  }
}

.margin {
  &--all {
    &__m {
      margin: 2rem;
    }
    &__l {
      margin: 4rem;
    }
  }
  &--vert {
    &__m {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &__l {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  &--hor {
    &__m {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &__l {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
  &--top {
    &__m {
      margin-top: 2rem;
    }
    &__l {
      margin-top: 4rem;
    }
  }
  &--bottom {
    &__m {
      margin-bottom: 2rem;
    }
    &__l {
      margin-bottom: 4rem;
    }
  }
  &--left {
    &__m {
      margin-left: 2rem;
    }
    &__l {
      margin-left: 4rem;
    }
  }
  &--right {
    &__m {
      margin-right: 2rem;
    }
    &__l {
      margin-right: 4rem;
    }
  }
}

.padding {
  &--kill {
    padding: 0px;
  }
  &--all {
    padding: 1rem;
  }
  &--vert {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &--hor {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &--top {
    padding-top: 1rem;
  }
  &--bottom {
    padding-bottom: 1rem;
  }
  &--left {
    padding-left: 1rem;
  }
  &--right {
    padding-right: 1rem;
  }
}

.padding {
  &--all {
    &__m {
      padding: 2rem;
    }
    &__l {
      padding: 4rem;
    }
  }
  &--vert {
    &__m {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &__l {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  &--hor {
    &__m {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &__l {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  &--top {
    &__m {
      padding-top: 2rem;
    }
    &__l {
      padding-top: 4rem;
    }
  }
  &--bottom {
    &__m {
      padding-bottom: 2rem;
    }
    &__l {
      padding-bottom: 4rem;
    }
  }
  &--left {
    &__m {
      padding-left: 2rem;
    }
    &__l {
      padding-left: 4rem;
    }
  }
  &--right {
    &__m {
      padding-right: 2rem;
    }
    &__l {
      padding-right: 4rem;
    }
  }
}
